*-bls.bib
*.*~
*.aux
*.bbl
*.bbl.swp
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc*
*.nav
*.out
*.run.xml
*.snm
*.sublime*
*.toc
*.vsdx
*.xdy
.build/*
.dump/*
*~
resources/books/*
